.Sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 15rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 1;
}

img{
  display: block;
  width: 100%;
}


.side-links {
  height: auto;
  padding: 0;
  width: 100%;
  margin: 0;
  font-size: 30px;
}

aside{
  height: 100%;
  background: white;
  position: fixed;
  box-sizing: border-box;
  width: 15rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

aside .logo{
  margin-left: 1rem;
}

aside .logo img{
  width: 80%;
  height: 80%;
  padding: 0.8rem;
}

aside .side-links{
  background: white;
  flex-direction: column;
  height: auto;
}




