
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AdminDashboard{
  background-color: grey;
}


.Dashboard {
  background-color: #f2f2f2;
  width: 80%;
  box-sizing: border-box;
}

h1{
  padding-left: 20px
}

.NavSide {
  width: 20%;
  background-color: white;
}

.NavSide a{
  padding: 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #212221;
  display: block;
  transition: 0.3s;
}

.NavSide a:hover{
  color: #44449B;
}

img{
  height: 70%;
  width: 50%;
  padding: 5%;
  margin-left: 50px;
}